In [1]:
import pandas as pd

# importing the different Datasets

In [2]:
df1 = pd.read_excel('C:/Users/baha eddine/Desktop/PCD2/Datasets/antlr4.xlsx')
df2 = pd.read_excel('C:/Users/baha eddine/Desktop/PCD2/Datasets/junit.xlsx')
df3 = pd.read_excel('C:/Users/baha eddine/Desktop/PCD2/Datasets/mct.xlsx')
df4 = pd.read_excel('C:/Users/baha eddine/Desktop/PCD2/Datasets/oryx.xlsx')
df5 = pd.read_excel('C:/Users/baha eddine/Desktop/PCD2/Datasets/titan.xlsx')

In [4]:
print(df1.info())
print(df2.info())
print(df3.info())
print(df4.info())
print(df5.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408 entries, 0 to 407
Columns: 241 entries, ID to RMIDiff
dtypes: int64(220), object(21)
memory usage: 768.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 655 entries, 0 to 654
Columns: 241 entries, ID to RMIDiff
dtypes: int64(220), object(21)
memory usage: 1.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2028 entries, 0 to 2027
Columns: 241 entries, ID to RMIDiff
dtypes: int64(220), object(21)
memory usage: 3.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Columns: 241 entries, ID to RMIDiff
dtypes: int64(220), object(21)
memory usage: 949.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1158 entries, 0 to 1157
Columns: 241 entries, ID to RMIDiff
dtypes: int64(220), object(21)
memory usage: 2.1+ MB
None

# Combining the datasets into one

In [5]:
# Concatenate DataFrames, handling differences in features
combined_df = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)

# We will verify if all the datasets had the same features ( metrics) or not

# Rq : if there is some different features pd.concat() will automatically replaces the missing values of the other features by NaN

In [6]:
# Check for NaN values
nan_values = combined_df.isna().sum()

In [7]:
# Display the count of NaN values for each column
print("NaN Values in Combined DataFrame:")
print(nan_values)

NaN Values in Combined DataFrame:
ID            0
Name          0
LongName      0
Parent        0
Component     0
             ..
MOVE_FIELD    0
Refact_Sum    0
PrevRMI       0
RMI           0
RMIDiff       0
Length: 241, dtype: int64

# Now we have One combined Dataset 

# we will work with this data set after the data cleaning phase for the multi-phased feature selection

In [8]:
# Save the combined DataFrame to an Excel file
combined_df.to_excel('C:/Users/baha eddine/Desktop/PCD2/Datasets/CombinedDS.xlsx', index=False)